/*
***********************************
MEDIA QUERIES
***********************************
*/
/*
******************************************
VARIABLES
******************************************
*/
:root {
  --body-bg: linear-gradient(180deg, #abbed4 22%, #283f53 100%);
  --main-color: white;
  --primary-color: #1f2b3d;
  --semi-transparent: rgba(255, 255, 255, 0.137);
}

/*
******************************************
GENERAL
******************************************
*/
html {
  overflow: hidden;
  height: 100vh;
  background: var(--body-bg);
}

body {
  margin: 0;
}

ul li {
  list-style-type: none;
}

a {
  font-weight: 400;
  color: var(--primary-color);
  text-decoration: none;
}

a :visited {
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
ul li,
p,
.tab-label {
  color: var(--main-color) !important;
  font-family: "Montserrat", sans-serif;
}

span {
  color: var(--primary-color);
}

.tab-label[aria-selected="true"] {
  color: var(--primary-color) !important;
}

/*
******************************************
APP
******************************************
*/
.app {
  overflow-y: auto;
  max-width: 65%;
  margin: auto;
  border: solid 2px var(--main-color);
  border-radius: 10px;
  margin-top: 7%;
  height: 80vh;
}

@media (min-width: 300px) and (max-width: 576px) {
  .app {
    border: none;
    max-width: 100%;
    height: 100vh;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .app {
    border: none;
    max-width: 100%;
    height: 100vh;
  }
}

/*
******************************************
PRESENTATION
******************************************
*/
.presentation-title {
  text-align: center;
  font-weight: 400;
}

.id-container .infos .list {
  font-size: 1.3em !important;
  line-height: 2em;
  font-weight: 400;
}

/*
***********************************
SECTION SKILLS
***********************************
*/
.skills-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-buttons-container:hover {
  background-color: var(--background-section-skills);
}

.specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 300px) and (max-width: 576px) {
  .specs {
    padding-top: 10% !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .specs {
    padding-top: 10% !important;
  }
}

/*BUTTONS*/
.specs button {
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  -webkit-box-shadow: inset 0px 0px 12px 3px #140605;
          box-shadow: inset 0px 0px 12px 3px #140605;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

@media (min-width: 300px) and (max-width: 576px) {
  .specs button {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .specs button {
    width: 50px;
    height: 50px;
  }
}

.specs button:hover,
.specs button:focus {
  background-color: var(--font-color-span);
  -webkit-box-shadow: inset 0px 0px 6px 2px #140605;
          box-shadow: inset 0px 0px 6px 2px #140605;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-animation: flash 2s;
          animation: flash 2s;
}

/*description*/
.description-specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 600px;
  height: 400px;
}

.description ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 400px;
}

.description ul li {
  font-size: 2em;
  font-weight: 200;
  -webkit-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
  color: var(--font-color-text-light);
  text-shadow: 2px 2px 2px black;
}

.gear,
.heart,
.brain,
.tongue,
.muscle {
  width: 100px;
  height: 100px;
}

.muscle {
  background: url(../images/muscle.png) no-repeat;
  background-size: contain;
}

.tongue {
  background: url(../images/tongue.png) no-repeat;
  background-size: contain;
}

.gear {
  background: url(../images/gear.png) no-repeat;
  background-size: contain;
}

.heart {
  background: url(../images/heart.png) no-repeat;
  background-size: contain;
}

.brain {
  background: url(../images/brain.png) no-repeat;
  background-size: contain;
}

/*
***********************************
SECTION CV
***********************************
*/
#cvScrollspy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cvScrollspy:hover {
  background-color: var(--background-section-cv);
}

@media (min-width: 300px) and (max-width: 576px) {
  #cvScrollspy {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: scroll;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #cvScrollspy {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: scroll;
  }
}

#cvScrollspy h2 {
  font-size: 1.2em;
  color: var(--font-color-text-light);
}

#cvScrollspy h3 {
  font-size: 1.2em;
}

@media (min-width: 300px) and (max-width: 576px) {
  #cvScrollspy h3:nth-of-type(1) {
    margin-top: 2em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #cvScrollspy h3:nth-of-type(1) {
    margin-top: 2em;
  }
}

.cv-left,
.cv-right {
  width: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: var(--font-color-text-light);
  font-weight: 200;
  font-size: 1.2em;
}

.cv-left h3,
.cv-right h3 {
  color: var(--primary-color) !important;
}

@media (min-width: 300px) and (max-width: 576px) {
  .cv-left,
  .cv-right {
    width: 100%;
    font-size: 1em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .cv-left,
  .cv-right {
    width: 100%;
    font-size: 1em;
  }
}

.cv-left span,
.cv-right span {
  color: var(--font-color-span);
  font-size: 1.3em;
  font-weight: 400;
}

@media (min-width: 300px) and (max-width: 576px) {
  .cv-left span,
  .cv-right span {
    font-size: 1.1em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .cv-left span,
  .cv-right span {
    font-size: 1.1em;
  }
}

.main-cv a {
  color: var(--font-color-link);
  text-shadow: 1px 1px 3px black;
  font-size: 1.2em;
  font-weight: 200;
}

.main-cv a:hover {
  color: var(--font-color-span);
}

/*
***********************************
SECTION WORK
***********************************
*/
.MuiPaper-root {
  background: transparent !important;
}

/*
***********************************
SECTION CONTACT
***********************************
*/
.card {
  margin-top: 20%;
}

@media (min-width: 768px) and (max-width: 992px) {
  .card {
    margin-top: 10%;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .card {
    margin-top: 10%;
  }
}

@media (min-width: 1280px) {
  .card {
    margin-top: 10%;
  }
}
/*# sourceMappingURL=style.css.map */